 H1{
    background-color: blue;
    font-size: larger;
    font-style: italic;
 }
 body{
    background-color: plum;
    font-style: oblique;
    text-emphasis-color: calc();


 }
 footer{
    color: brown;
    font-size: smaller;
    text-decoration: double;
    
 }